#game-controls {
  display: grid;
  justify-items: center; /* aligns items horizontally */
  align-items: center; /* aligns items vertically */
  gap: 1rem;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
  /*background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  width: 300px;
}

#game-controls button {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


  #game-controls button:hover {
    background-color: #d1d1d1;
  }

  #rolls-remaining {
    color: #f1f1f1;
    background-color: #333; 
    padding: 0.2em 0.5em; 
    border-radius: 5px; 
  }
