@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;500&display=swap');

h1 {
  text-align: center;
  color: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('images/dark-wood.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.0625em;
  max-width:75em;
  margin: 0 auto;
  padding: 0.7em;
}

#scorecard {
  grid-column: 1;
  padding: 0.625em;
  background-color: #F5F5DC;
  color: #000;
  border-radius: 0.625em;
  min-width: 22em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the overlay */
}

.modal-content {
  background-color: #222;
  color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}

.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.modal-content button:hover {
  background-color: #555;
}

#leaderboard {
  padding: 0;
  list-style-type: none;
  margin: 20px 0;
  }

#leaderboard li {
  margin: 5px 0;
  text-align: center;
}

#how-to-play {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#how-to-play h2 {
  font-size: 26px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#how-to-play ol {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  max-width:70em;
  min-width: 40em;
}

#how-to-play ol li ul {
  margin-left: 20px;
}

#how-to-play ol li, #how-to-play ol li ul li {
  margin-bottom: 10px;
  line-height: 1.8;
}
